{% extends "base.html" %}

{% block title %}{{ book.title }} - Bookstore{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ book.title }}</h1>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Synopsis:</strong> {{ book.synopsis }}</p>

    {% if book.cover_image_path %}
        {% set image_filename = book.cover_image_path.split('/')[-1] if '/' in book.cover_image_path else book.cover_image_path %}
        <img src="{{ url_for('static', filename='covers/' + image_filename) }}" alt="Book Cover" class="img-fluid">
    {% endif %}
</div>
{% endblock %}
