{% extends 'base.html' %}

{% block content %}
<h3>Order Details</h3>
<table class="table">
    <tr>
        <th>Total Amount</th>
        <td>${{ total_amount }}</td>
    </tr>
    <tr>
        <th>Shipping Address</th>
        <td>{{ shipping_address }}</td>
    </tr>
    <tr>
        <th>Payment Method</th>
        <td>{{ payment_method }}</td>
    </tr>
    <tr>
        <th>Order Status</th>
        <td>{{ order_status }}</td>  <!-- Display the order status -->
    </tr>
</table>

<h3>Books in Order:</h3>
<ul>
    {% for book, quantity in order_books %}
        <li>{{ book.title }} - Quantity: {{ quantity }}</li>
    {% endfor %}
</ul>

<a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
{% endblock %}
